i {
    color: red;
}
ul#actions
{
    display:none;
}
.actions:hover ul#actions
{
    display: block;
}
#sort{
    background-color: rgb(87, 49, 95);
    padding:0.7rem;
    font-size: 1.4rem;
}
#actions{
    margin-top: 2px;
}
.ascending{
    background-color: rgb(77, 78, 145);
    margin-bottom: 0.2rem;
}
.descending{
    background-color: rgb(61, 65, 116);
}
.actions{
    margin-left: 900px;
}